<form ng-controller="GoodEditCtrl">
     <div class="form-group">
        <label >Good Name: </label>
        <input type="text" ng-model="good.name" class="form-control"  placeholder="name" >
    </div>
    <div class="form-group">
        <label >Good Price: </label>
        <input type="text" ng-model="good.price" class="form-control"  placeholder="name" >
    </div>
    <div class="form-group">
        <label >Good Standard: </label>
        <input type="text" ng-model="good.standard" class="form-control"  placeholder="name" >
    </div>
    <div class="form-group">
        <label >Good Introduction: </label>
        <input type="text" ng-model="good.introduction" class="form-control"  placeholder="name" >
    </div>
    <div class="form-group">
        <label >Good Category:</label>
        <select class="form-control" ng-model="categories.id" ng-options="x.name for x in categories"></select>
    </div>
    <button class="btn btn-default" ng-click="doEdit()">Update</button>
</form>
